body {
    background-color: #0D0D0D;
    color: hsl(120, 48%, 60%);
    margin: 0;/*Removes unnecesarry borders.*/
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #66BFBF;
    font-size: 20px; /*1r(root)em means 16pixels, rem helps override other changes to the font which em does not. Also in percentage 100% means 16px.*/
    margin: 0px;/*Top, Right, Bottom, Left*/
    font-family: 'Architects Daughter', cursive;
}

h2 {
    color: #BABFBE;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin: 0px;
}

h3 {
    color: #11999E;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    align-content: center;
}
h5 {
    font-size: 50px;
    padding-bottom: 0px;
    color: #32D9BA;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
  
li a:hover {
    background-color: #111;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.logo_position {
    position: absolute;
    left: 50px;
}

p {
    line-height: 2;
    font-size: 18px;
    color: #2EA690;
}

hr {
    border: dashed #203b3b 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

a:link {
    color: #32D9BA;
    text-decoration: none;
}

a:visited {
    color: #32D9BA;
    text-decoration: none;
}

a:active {
    color: #32D9BA;
    text-decoration: none;
}

.namaste {
    font-family: 'Rhodium Libre', serif;
    position: relative;
}

.drive_link {
    color: hsl(120, 48%, 60%);
    font-family: 'Open Sans', sans-serif;
} 

.navbar {
    background-color: #BABFBE;
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto;
}

.upper_side {
    background-color: #000;
    position: relative;
    padding-top: 5px;
    margin: 0px;
    height: 35px;
}

.middle_portion {
    margin: 100px 0 0 0;
}

.small{
    font-size: 35px;
    
}

.abcd{
    width: 100%;
    background-color: #262626;
    height: 600px;
}
.my_skills {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro {
    text-decoration: line-through;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.my-image{
    border-radius: 50%;
    width: 175px;
    height: 175px;
}


.Skill_1 {
    width: 45%;
    float: left;
    margin-right: 30px;
    margin-top: 90px;
}

.Skill_2 {
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-top: 80px;
}

.Skill_3 {
    width: 45%;
    float: left;
    margin-right: 30px;
    margin-top: 50px;
}

.footer{
    height: 45px;
    background-color: #0D0D0D;
    margin: auto;
    margin-top: 10px;
}

.link_1 {
    position: relative;
    right: 35px;
    top: 3px;
    width: 40px;
    height: 40px;
}

.link_2 {
    position: relative;
    top: 3px;
    width: 40px;
    height: 40px;
}

.link_3 {
    position: relative;
    left: 35px;
    top: 3px;
    width: 40px;
    height: 40px;
}
